@use 'sass:color';
@import '../../Z_StylingCommonsSCSS/mixins';
@import '../../Z_Colors/colors';
@import "Z_OtherSCSSvariables/otherVariables";

.whoWeHelp {
  max-width: $maxWidth;
  margin: 0 auto;
  padding-top: 6rem;
  background-color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
}

@media (max-width: 400px) {
  .whoWeHelp {
    img {
      width: 20rem;
    }
  }
}
.whoWeHelpBtn {
  margin-top: 4rem;
  margin-bottom: 4rem;
  display: flex;
  justify-content: center;
  gap: 3rem;
  button {
  @include button(1rem 3rem, 1.2rem);
    width: 15rem;
  }
}

@media (max-width: 370px) {
  .whoWeHelpBtn {
    flex-direction: column;
    align-items: center;
    button {
      width: 30rem;
      font-size: 2rem;
    }
  }
}
.whoWeHelpText {
  margin: 0 auto;
  width: 50%;
  text-align: center;
}
.whoWeHelpTable {
  margin: 5rem auto 5rem;
  border-collapse: collapse;
  height: 23rem;
  tr {
    border-bottom: 1px solid black;
    vertical-align: top;
  }

  tr:last-child {
    border: none;
  }
  th {
    font-size: 1.9rem;
    text-align: left;
    width: 65%;
    small {
      font-size: 1.3rem;
      font-weight: normal;
    }
  }
  td {
    text-align: right;
    font-size: 1.3rem;
  }
}

@media (max-width: 590px) {
  .whoWeHelpTable {
    margin: 4rem 3rem 0.5rem;
  }
}

@media (max-width: 380px) {
  .whoWeHelpTable {
    td {
      display: none;
    }
  }
}

.whoWeHelpTablePagination {
  display: flex;
  gap: 2rem;
  button {
    @include button(1rem 1rem, 1.2rem);
    border: 1px solid transparent;
    &:hover {
      border: 1px solid black;
      background-color: transparent;
    }
  }
}
