@use 'sass:color';
@import "../../Z_Colors/colors";

.aboutUs {
  max-width: 1600px;
  background-color: lighten($grey, 40%);
  margin: 0 auto;
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
  article {
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    gap: 2rem;
    h1 {
      padding-top: 3rem;
    }
    p {
      font-size: 1.8rem;
      text-align: center;
      line-height: 4rem;
      padding: 0 8rem;
    }
  }
}

.aboutUsImage {
  width: 50%;
  aspect-ratio: 1;
  background-image: url("../d_aboutUs/aboutUsImages/People.png");
  background-size: cover;
}

@media (max-width: 750px) {
  .aboutUs {
    justify-content: center;

    article {
      p {
        padding: 0;
      }
    }

    img {
      width: 20rem;
      padding-bottom: 2rem;

    }
  }
  .aboutUsImage {
    display: none;
  }


}

