@import "../Z_Colors/colors";

.navigation {
  //position: fixed;
  //right: 5rem;
  //top: 3rem;
  justify-content: flex-end;
  list-style-type: none;
  display: flex;

  li {
    display: block;
    font-size: 1.3rem;
    padding: 0.5rem 1rem;
    border: 1px solid transparent;
    &:hover {
      border: 1px solid $fontColor;
    }
    .active {
      padding: 0.5rem 0;
      border: 1px solid $fontColor;
    }
  }
}