@import "../Z_Colors/colors";

.navigationContainer {
  position: relative;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 0;
  h1 {
    padding: 0;
    margin: 0;
  }
}

@media (max-width: 430px) {
  .navigationContainer {
    width: 100vw;
    background-color: lighten($grey, 40%);
    box-shadow: 0px 0px 6px -1px black;
    margin: 0 auto;
    justify-content: space-between;
    h1 {
      padding-left: 4rem;
      padding-top: 1rem;
    }
  }
  .navigationBurger {
    margin-right: 4rem;
  }
}

.navigationBurger {
  box-sizing: border-box;
  width: 45px;
  height: 45px;
  padding: 15px 0 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 4px;
  &:hover {
    .navigationBurger_line {
      background-color: darken(rgb(223 183 16), 0%);
    }
  }
  &.cross {
    .navigationBurger_line:first-child {
        transform: rotate(45deg) translate(4px, 8px);
    }
    .navigationBurger_line:nth-child(2) {
        transform: rotate(-45deg) translate(-2px, -2px);

    }
    .navigationBurger_line:last-child {
      display: none;
    }
  }
}

.navigationBurger_line {
  width: 33px;
  height: 4px;
  background-color: $fontColor;
  border-radius: 2px;
}

@media (min-width: 430px) {
  .navigationBurger {
    display: none;
  }
  .navigationTitle {
    display: none;
  }
}



.navigation {
  //position: fixed;
  //right: 5rem;
  //top: 3rem;
  justify-content: flex-end;
  list-style-type: none;
  display: flex;

  li {
    display: block;
    font-size: 1.3rem;
    padding: 0.5rem 1rem;
    border: 1px solid transparent;
    transition: 500ms all;
    cursor: pointer;
    &:hover {
      border: 1px solid $fontColor;
    }
    .active {
      padding: 0.5rem 0;
    }
  }

  .hashLink {
    display: block;
    text-decoration: none;
    font-size: 1.3rem;
    padding: 0.5rem 1rem;
    border: 1px solid transparent;
    &:link {
      color: $fontColor;
    }
    &:hover {
      border: 1px solid $fontColor;
    }
    &:visited {
      color: $fontColor;
    }
    .active {
      padding: 0.5rem 0;
    }

  }
}

@media (max-width: 430px) {
  .navigation {
    position: absolute;
    background-color: $contrastColor;
    width: 100%;
    flex-direction: column;
    top: 40px;
    box-shadow: 0 1px 5px grey;
    //left: -4rem;
    padding: 0;
    li {
      padding-left: 4rem;
      font-size: 2.5rem;
    }

  }
  .navigation.hidden {
    left: -99999rem;



  }
}