@import "Z_Fonts/fonts";
@import "Z_Colors/colors";

:root {
  font-size: 14px;
}

body {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  color: $fontColor;
  font-family: "Open Sans", sans-serif;
  
}

h1 {
  font-size: 2.7rem;
  font-weight: normal;
  text-align: center;
}

p {
  font-size: 1.2rem;
  text-align: center;
}

img {
  display: block;
  margin: 0 auto;
}

button {
  display: block;
  font-size: 1.3rem;
  border: 1px solid $fontColor;
  background-color: transparent;
  padding: 1rem 3rem;
  &:hover {
    background-color: lighten($grey, 40%);
  }
}

label {
  font-size: 1.2rem;
  font-weight: bolder;
}

input {
  border: none;
  border-bottom: 1px solid $fontColor;
  background-color: transparent;
  outline: none;
}