@use "sass:color";
@import "Z_Fonts/fonts";
@import "Z_Colors/colors";

@media (max-width: 850px) {
  :root {
    font-size: 7px;
  }
}
@for $i from 0 through 8 {
  @media (min-width: 850px + ($i * 100px)) {
    :root {
      font-size: 7px + $i * 1px;
    }
  }
}

body {
  background-color: lighten($fontColor, 70%);
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  color: $fontColor;
  font-family: "Open Sans", sans-serif;

}

h1 {
  font-size: 2.7rem;
  font-weight: normal;
  text-align: center;
}

p {
  font-size: 1.2rem;
  text-align: center;
}

img {
  display: block;
  margin: 0 auto;
}

button {
  display: block;
  font-size: 1.3rem;
  border: 1px solid $fontColor;
  background-color: transparent;
  padding: 1rem 3rem;
  &:hover {
    background-color: lighten($grey, 40%);
  }
}

label {
  font-size: 1.2rem;
  font-weight: bolder;
  display: block;
  padding-top: 1rem;
}

input {
  border: none;
  border-bottom: 1px solid $fontColor;
  background-color: transparent;
  outline: none;
}

span {
  font-size: 1.7rem;
  font-weight: normal;

}

.checkboxSpan {
  width: 2rem;
  height: 2rem;
  border: 1px solid $fontColor;
  margin-right: 2rem;

}

.checkboxSpan.checked {
background-color: $contrastColor;

}