@use 'sass:color';
@import "./src/Z_Colors/colors";
@import "Z_OtherSCSSvariables/otherVariables";

.information {
  max-width: $maxWidth;
  margin: 0 auto;
  background-image: url("./3 Columns Background.png");
  display: flex;
  flex-wrap: nowrap;
  gap: 5rem;
  justify-content: space-around;
  padding: 2rem 5rem;
  article {
    width: 20rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    gap: 2rem;
    h2 {
      margin: 0;
      font-size: 6.4rem;
      font-weight: lighter;
      text-align: center;
    }
    h3 {
      margin: 0;
      font-size: 1.3rem;
      font-weight: normal;
      text-align: center;
    }
    p {
      font-size: 1.1rem;
      text-align: center;
      line-height: 2rem;
    }
  }
}

@media (max-width: 450px) {
  .information {
    flex-direction: column;
    align-items: center;
  }
}


