@import "Z_OtherSCSSvariables/otherVariables";
.footer {
  max-width: $maxWidth;
  background-color: white;
  display: flex;
  align-items: center;
  z-index: 1;
  padding: 2rem 0 5rem;
}
.footerCopyright {
  text-align: center;
  font-size: 1.2rem;
  flex-grow: 1;
}
.footerSocialMediaLinks {
  padding-right: 10rem;
  display: flex;
  gap: 1rem;
  img {
      width: 4rem;
      aspect-ratio: 1;
  }
}



