.formComponent_container {
  display: flex;
  justify-content: right;
  background-image: url("./images/Header-Form-Background.png");
  background-repeat: no-repeat;
  background-size: contain;
  padding-right: 10rem;
}

.formComponent_rightArea {
  width: 60rem;
}

.formComponent_header-second {
  text-align: center;
  font-size: 2.9rem;
  font-weight: lighter;
}

.formComponent_header-squares {
  display: flex;
  justify-content: center;
  gap: 5rem;
  padding-bottom: 13rem;
}
.formComponent_header-squares p:first-child {
  font-size: 2.3rem;
}
.formComponent_header-squares p:nth-child(2) {
  font-size: 1.7rem;
}

.formComponent_header-square {
  position: relative;
  width: 10rem;
}
.formComponent_header-square::before {
  content: "";
  position: absolute;
  width: 12rem;
  height: 12rem;
  border: 1px solid #3C3C3C;
  transform: translate(-10%, 20%) rotate(45deg);
}

.giveThingsMessage {
  background-color: #FAD648;
  padding: 3rem 0 3rem 4rem;
}
.giveThingsMessage h1 {
  text-align: left;
  padding: 0;
  margin: 0;
}
.giveThingsMessage p {
  text-align: left;
}

.giveThingsForm {
  background-image: url("./images/Background-Form.png");
  background-size: cover;
  background-position: -5rem -1rem;
  height: 45rem;
  padding: 1rem 4rem;
  position: relative;
}

.giveThingsForm_page {
  text-align: left;
  padding-top: 1rem;
  padding-bottom: 1rem;
  margin: 0;
}

.giveThingsForm_Fieldset-Legend {
  text-align: left;
  padding-bottom: 1rem;
}

.giveThingsForm_Fieldset {
  display: flex;
  flex-direction: column;
  padding: 0;
  margin: 0;
  border: none;
  gap: 2rem;
}

.giveThingsForm_Fieldset-Label {
  display: flex;
  align-items: center;
  padding: 0;
}
.giveThingsForm_Fieldset-Label input {
  width: 0;
  height: 0;
  margin: 0;
  padding: 0 0;
}

.giveThingsForm_ButtonArea {
  position: absolute;
  bottom: 0;
  left: 4rem;
  display: flex;
  justify-content: left;
  gap: 2rem;
  padding: 5rem 0 3rem;
}

.giveThingsForm_Fieldset-selectContainer {
  display: flex;
  align-items: center;
  gap: 2rem;
}

.giveThingsForm_Fieldset-selectButton {
  position: relative;
  width: 15rem;
  border: 1px solid #3C3C3C;
  padding: 0.5rem 1rem;
  display: flex;
  gap: 2rem;
  align-items: center;
  justify-content: space-around;
}

.giveThingsForm_Fieldset-selectButtonArrowDown {
  width: 1.5rem;
  height: 1.5rem;
  border-top: 2px solid #3C3C3C;
  border-right: 2px solid #3C3C3C;
  transform: rotate(135deg) translate(0, 0.5rem);
}

.giveThingsForm_Fieldset-selectButtonArrowUp {
  width: 1.5rem;
  height: 1.5rem;
  border-top: 2px solid #3C3C3C;
  border-right: 2px solid #3C3C3C;
  transform: rotate(-45deg) translate(-0.5rem, 0rem);
}

.giveThingsForm_Fieldset-selectButtonChoiceList {
  list-style-type: none;
  position: absolute;
  right: 0;
  border: 1px solid #3C3C3C;
  padding: 0;
  background-color: rgb(236, 237, 232);
  width: 17rem;
}
.giveThingsForm_Fieldset-selectButtonChoiceList li {
  padding: 0 2rem;
}
.giveThingsForm_Fieldset-selectButtonChoiceList li:hover {
  background-color: #bcbcbc;
}

.giveThingsForm_Fieldset-selectButtonChoiceList.hidden {
  display: none;
}

.giveThingsForm_ButtonGroupWho_question {
  text-align: left;
  font-weight: bolder;
  padding: 2rem 0 0.5rem;
}

.giveThingsForm_ButtonGroupWho {
  display: inline-block;
  margin: 0 1rem 1rem 0;
}
.giveThingsForm_ButtonGroupWho:hover {
  background-color: #FAD648;
}

.giveThingsForm_organisationLabel {
  display: block;
  padding-top: 2rem;
  padding-bottom: 1rem;
}

.giveThingsForm_organisationInput {
  display: block;
  border: 1px solid #3C3C3C;
  font-size: 1.3rem;
  margin-top: 1rem;
  padding: 0.5rem;
  width: 30rem;
}

.giveThingsForm_adresAndDate-container {
  display: flex;
  gap: 2rem;
}

.giveThingsForm_adresAndDate_labelAndInput {
  width: 30rem;
  display: flex;
  justify-content: space-between;
  margin-bottom: 2rem;
  align-items: center;
}
.giveThingsForm_adresAndDate_labelAndInput label {
  padding-top: 0;
}
.giveThingsForm_adresAndDate_labelAndInput input {
  width: 20rem;
  padding: 0.5rem 1rem;
  border: 1px solid #3C3C3C;
}
.giveThingsForm_adresAndDate_labelAndInput textarea {
  width: 20rem;
  height: 10rem;
  padding: 0.5rem 1rem;
  border: 1px solid #3C3C3C;
  font-size: 1rem;
  font-family: "Open Sans", sans-serif;
}
.giveThingsForm_adresAndDate_labelAndInput textarea:focus {
  outline: none;
}

.giveThingsForm_adresAndDate_labelAndInput:last-child {
  align-items: flex-start;
}
.giveThingsForm_adresAndDate_labelAndInput:last-child textarea {
  background-color: rgb(236, 237, 232);
}

.giveThingsForm_container {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
}

.giveThingsForm_thanks {
  padding-left: 5rem;
  width: 47rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-self: center;
}
.giveThingsForm_thanks p {
  font-size: 2.8rem;
  font-weight: lighter;
}

/*# sourceMappingURL=formComponent.css.map */
