@use 'sass:color';
@import "../Z_Colors/colors";

.giveThingsMessage {
  background-color: $contrastColor;
  padding: 3rem 0 3rem 4rem;
  h1 {
    text-align: left;
    padding: 0;
    margin: 0;
  }
  p {
    text-align: left;
  }
}
.GiveThingsForm_Fieldset {
  display: flex;
  flex-direction: column;
}

