@use 'sass:color';
@import '../../Z_StylingCommonsSCSS/mixins';
@import "Z_OtherSCSSvariables/otherVariables";
@import "../../Z_Colors/colors";

.howTo {
  max-width: $maxWidth;
  margin: 0 auto;
  background-color: lighten($grey, 40%);
  display: flex;
  flex-wrap: nowrap;
  gap: 3rem;
  justify-content: space-around;
  padding: 3rem 5rem 0;
  article {
    width: 16rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    img {
      padding-top: 2rem;
    }

    h3 {
      text-align: center;
      margin: 0;
      padding-top: 1rem;
      padding-bottom: 1rem;
      font-size: 1.3rem;
      font-weight: normal;
    }
    p {
      text-align: center;
      line-height: 2rem;
      padding: 1rem 2rem 3rem;
      margin: 0;
    }
  }
}

.howToArticle_line {
  width: 4rem;
  height: 1px;
  text-align: center;
  color: black;
  background-color: black;

}
.howTo_header {
  max-width: $maxWidth;
  margin: 0 auto;
  padding: 1rem 5rem 2rem;
  background-color: white;
}

.howToBtnContainer {
  max-width: $maxWidth;
  background-color: white;
  margin: 0 auto;
  padding: 4rem 0;
}
.howToBtn {
  @include button();
  margin: 0 auto;

}

.howToBtnLink {
  @include button();
  width: 35rem;
  display: block;
  text-align: center;
  text-decoration: none;
  margin: 0 auto;
  &:link {
    color: $fontColor;
  }
  &:active {
    color: $fontColor;
  }
  &:visited {
    color: $fontColor;
  }

}

@media (max-width: 800px) {
  .howTo {
    flex-wrap: wrap;
    padding: 3rem 10rem;

  }
}

@media (max-width: 700px) {
  .howTo {
    flex-wrap: wrap;
    padding: 3rem 24rem;

  }
}

@media (max-width: 600px) {
  .howTo {
    flex-wrap: wrap;
    padding: 3rem 20rem;

  }
}

@media (max-width: 540px) {
  .howTo {
    flex-wrap: wrap;
    padding: 3rem 15rem;

  }
}

@media (max-width: 460px) {
  .howTo {
    padding: 3rem 7rem;

  }
  .howTo_header {
    padding: 1rem 2rem 2rem;
    img {
      width: 60%;
    }
  }
}
@media (max-width: 300px) {
  .howTo {
    flex-direction: column;
    align-items: center;
    padding: 0;
  }
  .howToBtnLink {
    width: unset;
  }
}
