@use 'sass:color';
@import '../../Z_StylingCommonsSCSS/mixins';

.howTo {
  margin: 2rem auto 0;
  background-color: #F0F1F1;
  display: flex;
  flex-wrap: nowrap;
  gap: 3rem;
  justify-content: space-around;
  padding: 2rem 8rem;
  article {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    img {
      padding-top: 2rem;
    }
    hr {
      text-align: center;
      color: black;
      background-color: black;
      height: 1px;
      width: 60%;

    }
    h3 {
      text-align: center;
      margin: 0;
      padding-top: 2rem;
      padding-bottom: 2rem;
      font-size: 1.3rem;
      font-weight: normal;
    }
    p {
      text-align: center;
      line-height: 2rem;
      padding: 0 2rem 3rem;
    }
  }
}
.howToBtn {
  @include button();
  margin: 2rem auto;

}

